 <!-- Sign in Start -->
 <section class="sign-in-page">
    <div id="container-inside">
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
    </div>
      <div class="container p-0">
          <div class="row no-gutters height-self-center">
            <div class="col-sm-12 align-self-center bg-primary rounded">
              <div class="row m-0">
                <div class="col-md-5 bg-white sign-in-page-data " style="z-index: 0;">
                    <div class="sign-in-from">
                        <img src="images/user/1.jpg" alt="user-image" class="rounded">
                                <h4 class="mt-3 mb-0">Hi ! Michael Smith</h4>
                                <p class="text-dark">Enter your password to access the admin.</p>
                        <form class="mt-4" [formGroup]="form" (ngSubmit)="onSubmit()">

                            <div class="form-group">
                                <label for="exampleInputEmail1">Password</label>
                                <input type="Password" class="form-control mb-0" id="exampleInputEmail1"  placeholder="Password" formControlName="newPassword">
                                <ng-container 
                                *ngIf="(form.get('newPassword')?.touched || isSubmitted) && form.get('newPassword')?.errors"
                                [ngSwitch]="form.get('newPassword')?.errors | firstKey">
                                
                                <div class="error-feedback" *ngSwitchCase="'required'">
                                    Please enter your password.
                                </div>
                                <div class="error-feedback" *ngSwitchCase="'minlength'">
                                    At least 6 characters required.
                                </div>
                                <div class="error-feedback" *ngSwitchCase="'pattern'">
                                    One or more special character(s) required.
                                </div>
                            </ng-container>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">confirm Password</label>
                                <input type="Password" class="form-control mb-0" id="exampleInputEmail1"  placeholder="Password" formControlName="confirmPassword">
                                <div class="error-feedback" *ngIf="hasDisplayableError('confirmPassword') && form.get('confirmPassword')?.hasError('passwordMismatch')">
                                    Password doesn't match
                                </div>
                            </div>

                            <div class="d-inline-block w-100">
                                <button type="submit" class="btn btn-primary float-right">Log In</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-md-7 text-center sign-in-page-image">
                    <div class="sign-in-detail text-white pt-5">
                        <a class="sign-in-logo mb-5" href="#"><img src="images/logo-full.png" class="img-fluid" alt="logo"></a>
                        <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
                            <div class="item">
                                <img src="images/login/1.png" class="img-fluid mb-4" alt="logo">
                                <h4 class="mb-1 text-white">Manage your expenses</h4>
                                <p>Smarter spending starts here.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- Sign in END -->