.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 120px;
    font-weight: bold;
}

.form-group input,
.form-group p-select,
.form-group p-datepicker,
.form-group p-inputnumber {
    flex: 1;
    width: 100%;
}

