<div class="wrapper">
   <app-side-navbar (clicked)="recevoirMessage($event)"></app-side-navbar>

   <app-top-nav-bar [bodyClass]="{'sidebar-main': changeMenu}" />

   <div id="content-page" class="content-page">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12">
               <p-toast Style="z-index: 50;"/>
               <p-confirmdialog Style="z-index: 50;"/>
               <div class="card">
                  <p-table #dt1 [value]="expenses" dataKey="id" [rows]="8" [rowsPerPageOptions]="[8, 25, 50]"
                     [loading]="loading" [paginator]="true" [globalFilterFields]="['name', 'categoryName']">
                     <ng-template #caption>
                        <div class="flex" style="display: flex; align-items: center; justify-content: space-between; gap: 10px;">
                          <!-- Left side: Clear button and Search input -->
                          <div class="flex" style="display: flex; align-items: center; gap: 10px;">
                            <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
                            <p-iconfield iconPosition="left">
                              <p-inputicon>
                                <i class="pi pi-search"></i>
                              </p-inputicon>
                              <input pInputText type="text" [(ngModel)]="searchValue" (input)="filterTable($event)" placeholder="Search keyword" />
                            </p-iconfield>
                          </div>
                      
                          <!-- Right side: Add Expenses and Import CSV buttons -->
                          <div class="buttons-container" style="display: flex; align-items: center; gap: 50px;">
                            <app-add-expenses-manually></app-add-expenses-manually>
                            <app-import-csv></app-import-csv>
                          </div>
                        </div>
                      </ng-template>
                      
                     <ng-template #header>
                        <tr>
                           <th style="min-width:15rem">
                              <div class="flex items-center">
                                 Name
                                 <p-columnFilter type="text" field="name" display="menu" />
                              </div>
                           </th>
                           <th style="min-width:15rem">
                              <div class="flex items-center">
                                 Category
                                 <p-columnFilter type="text" field="categoryName" display="menu" />
                              </div>
                           </th>

                           <th style="min-width:10rem">
                              <div class="flex items-center">
                                 Date
                                 <p-columnFilter type="date" field="date" display="menu" />
                              </div>
                           </th>
                           <th style="min-width:10rem">
                              <div class="flex items-center">
                                 Amount
                                 <p-columnFilter type="numeric" field="amount" display="menu" currency="TND" />
                              </div>
                           </th>

                           <th style="width: 3rem">
                              Action
                           </th>
                        </tr>
                     </ng-template>
                     
                     <ng-template #body let-expense>
                        <tr>
                           <td>
                              {{ expense.name }}
                           </td>

                           <td>
                              {{ getCategoryName(expense.category) }}
                           </td>


                           <td>
                              {{ expense.date | date:'yyyy-MM-dd' }}
                           </td>

                           <td>
                              {{ expense.amount }}
                           </td>

                           
                           <td>
                              <div class="d-flex gap-2" >
                                 <app-update-expense [expense]="expense"></app-update-expense>


                                 

                                 <p-button (click)="delete($event,expense.id)" severity="danger" [outlined]="true">
                                    <i class="ri-delete-bin-6-line"></i>
                                 </p-button>


                              </div>
                           </td>

                        </tr>
                     </ng-template>
                     <ng-template #emptymessage>
                        <tr>
                           <td colspan="5">No expenses found.</td>
                        </tr>
                     </ng-template>
                  </p-table>
               </div>
            </div>


         </div>
         <app-footer />