<div class="wrapper">
   <app-side-navbar (clicked)="recevoirMessage($event)"></app-side-navbar>

   <app-top-nav-bar [bodyClass]="{'sidebar-main': changeMenu}" />

   <div id="content-page" class="content-page">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12">
               <p-toast Style="z-index: 50;"/>
               <p-confirmDialog Style="z-index: 50;"></p-confirmDialog>
               <div class="card">
                  


                     <p-table
                     #dt1
                     [value]="expenses"
                     dataKey="id"
                     [rows]="8"
                     [rowsPerPageOptions]="[8, 25, 50]"
                     [loading]="loading"
                     [paginator]="true"
                     [globalFilterFields]="['name', 'categoryName']"
                     >



                     <ng-template pTemplate="caption">
                        <div class="flex" style="display: flex; align-items: center; justify-content: space-between; gap: 10px;">
                          <div class="flex" style="display: flex; align-items: center; gap: 10px;">
                            <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
                            <p-iconField iconPosition="left">
                              <p-inputIcon>
                                <i class="pi pi-search"></i>
                              </p-inputIcon>
                              <input pInputText type="text" [(ngModel)]="searchValue" (input)="filterTable($event)" placeholder="Search keyword" />
                            </p-iconField>
                          </div>
                      
                          <div class="buttons-container" style="display: flex; align-items: center; gap: 50px;">
                            <app-add-expenses-manually></app-add-expenses-manually>
                            <app-import-csv></app-import-csv>
                          </div>
                        </div>
                      </ng-template>
                      
                     <ng-template pTemplate="header">
                        <tr>
                           <th style="min-width:15rem">
                              <div class="flex items-center">
                                 Name
                                 <p-columnFilter type="text" field="name" display="menu" />
                              </div>
                           </th>
                           <th style="min-width:15rem">
                              <div class="flex items-center">
                                 Category
                                 <p-columnFilter type="text" field="categoryName" display="menu" />
                              </div>
                           </th>

                           <th style="min-width:10rem">
                              <div class="flex items-center">
                                 Date
                                 <p-columnFilter type="date" field="date" display="menu" />
                              </div>
                           </th>
                           <th style="min-width:10rem">
                              <div class="flex items-center">
                                 Amount
                                 <p-columnFilter type="numeric" field="amount" display="menu" currency="TND" />
                              </div>
                           </th>

                           <th style="width: 3rem">
                              Action
                           </th>
                        </tr>
                     </ng-template>
                     
                     <ng-template pTemplate="body" let-expense>
                        <tr>
                           <td>
                              {{ expense.name }}
                           </td>

                           <td>
                              {{ expense.categoryName }}
                           </td>


                           <td>
                              {{ expense.date | date:'yyyy-MM-dd' }}
                           </td>

                           <td>
                              {{ expense.amount }}
                           </td>

                           
                           <td>
                              <div class="expense-actions" style="display: flex; align-items: center; gap: 10px;">
                                 

                                <app-update-expense [expense]="expense"></app-update-expense>
                                <button class="delete-btn" (click)="delete($event, expense.id)">
                                 <i class="ri-delete-bin-6-line"></i>
                               </button>
                             
                              </div>
                            </td>
                            

                        </tr>
                     </ng-template>
                     <ng-template pTemplate="emptymessage">
                        <tr>
                           <td colspan="5">No expenses found.</td>
                        </tr>
                     </ng-template>
                  </p-table>
               </div>
            </div>


         </div>
