   <!-- loader Start -->
  <body [ngClass]="{'sidebar-main': changeMenu}">
   <div id="loading">
      <div id="loading-center">
      </div>
   </div>
   <!-- loader END -->
   <!-- Wrapper Start -->
  
      <!-- Sidebar  -->
      <div class="iq-sidebar">
         <div class="iq-navbar-logo d-flex justify-content-between">
            <a href="index.html" class="header-logo">
            <img src="images/logo.png" class="img-fluid rounded" alt="">
            <span>FinDash</span>
            </a>
            <div class="iq-menu-bt align-self-center" (click)="menuChange($event)">
               <div class="wrapper-menu open" [ngClass]="{'open': changeMenu}">
                  <div class="main-circle"><i class="ri-menu-line"></i></div>
                  <div class="hover-circle"><i class="ri-close-fill"></i></div>
               </div>
            </div>
         </div>
         <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
               <ul id="iq-sidebar-toggle" class="iq-menu">
                  <li [class.active]="isActive('/mainPage')">
                     <a [routerLink]="['/mainPage']" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span class="ripple rippleEffect"></span><i class="iq-arrow-left ri-dashboard-3-line"></i> 
                        <span>Dashboard</span></a>
                  </li>
                  <li [class.active]="isActive('/listBudgets')">
                     <a [routerLink]="['/listBudgets']" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span class="ripple rippleEffect"></span> <i class="iq-arrow-left ri-wallet-3-line"></i>
                        <span>Manage Budgets</span></a>
                  </li>
                  <li [class.active]="isActive('/listExpenses')">
                     <a [routerLink]="['/listExpenses']" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span class="ripple rippleEffect"></span> <i class="iq-arrow-left ri-money-dollar-box-line"></i><span>Manage Expenses</span></a>
                  </li>
                  <li [class.active]="isActive('/recommendation')">
                     <a [routerLink]="['/recommendation']" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span class="ripple rippleEffect"></span> <i class="iq-arrow-left fa fa-lightbulb-o"></i>
                        <span>Recommendation</span></a>
                  </li>
                  
               </ul>
            </nav>
            <div class="p-3"></div>
         </div>
      </div>
   </body>
