<div class="tab-pane fade active show" role="tabpanel">
   <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
         <div class="iq-header-title">
            <h4 class="card-title">Personal Information</h4>
         </div>
      </div>
      <div class="iq-card-body">
         <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="">
               <div class="col-md-12">
                  <div class="profile-img-edit">
                     


                     <label for="image">Image:</label>
                <div>


                  <div class="custom-dropzone mb-3" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                     <ngx-dropzone-label>
                         <div>
                             <h2>Click or drag image to this area to upload</h2>
                         </div>
                     </ngx-dropzone-label>
                     <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                         [file]="f" [removable]="true" (removed)="onRemove(f)">
                         <div class="image-container"></div>
                     </ngx-dropzone-image-preview>
                 </div>






                </div>


                  </div>
               </div>
            </div>
            <div class=" row align-items-center">
               <div class="form-group col-sm-6">
                  <label for="fname">First Name:</label>
                  <input type="text" class="form-control" id="fname" [value]="firstName" formControlName="firstName">
                  <div class="error-feedback" *ngIf="hasDisplayableError('firstName')">
                     Please enter your First Name
                 </div>
               </div>
               <div class="form-group col-sm-6">
                  <label for="lname">Last Name:</label>
                  <input type="text" class="form-control" id="lname" [value]="lastName" formControlName="lastName">
                  <div class="error-feedback" *ngIf="hasDisplayableError('lastName')">
                     Please enter your Last Name
                 </div>
               </div>
               <div class="form-group col-sm-6">
                  <label for="uname">Email:</label>
                  <input type="text" class="form-control" id="uname" [value]="Email" formControlName="email" readonly>
                  
               </div>
               <div class="form-group col-sm-6">
                  <label for="cname">Phone number:</label>
                  <input type="text" class="form-control" id="cname" [value]="PhoneNumber" formControlName="phoneNumber">
                  <div class="error-feedback" *ngIf="hasDisplayableError('PhoneNumber')">
                     Please enter your phoneNumber
                 </div>
               </div>
            </div>
            <div class="d-flex justify-content-end gap-2 align-items-center w-100" style="margin-top: 2%;">
               <button type="submit" class="btn btn-primary">Submit</button>
               <button type="reset" class="btn btn-danger">Cancel</button>
           </div>
           
           
           
           
           
         </form>
      </div>
   </div>
</div>