<button class="btn" style="background-color: white; color: #1e3d73; border: 1px solid #1e3d73; " (click)="showDialog()">
    <i class="ri-edit-2-line"></i>
  </button>
  

<div class="card">
    <p-dialog header="Update Expense" [modal]="true" [(visible)]="visible" [style]="{ width: '50%' ,height:'auto'}">
        <form [formGroup]="form" id="login-form" (ngSubmit)="onSubmit()">

            <input type="hidden" formControlName="UserId">
            <input type="hidden" formControlName="id">

            <div class="form-group">
                <label for="name">Name</label>
                <input pInputText id="name" autocomplete="off" formControlName="Name" />
            </div>

            <div class="form-group">
                <label for="Category">Category</label>
                <p-dropdown [options]="categories" formControlName="Category" optionLabel="name" optionValue="code"
                          [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Category"
                          [appendTo]="'body'">
                    <ng-template #selectedItem let-selectedOption>
                        <div class="flex items-center gap-2">
                            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" 
                                 [class]="'flag flag-' + selectedOption.code.toLowerCase()" style="width: 18px" />
                            <div>{{ selectedOption.name }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>

                <div style="position: relative; display: inline-block;">
                    <button id="buttonIa" (click)="predictCategory()" [disabled]="loading" type="button">
                        <img src="images/ai.png" id="aiImage">
                    </button>

                    <p-progressSpinner *ngIf="loading" strokeWidth="8" fill="transparent" animationDuration=".5s"
                        [style]="{ width: '50px', height: '50px', position: 'absolute', top: '50%', left: '50%', transform: 'translate(-50%, -50%)' }">
                    </p-progressSpinner>
                </div>
            </div>

            <div class="form-group">
                <label for="date">Date</label>
                <p-calendar inputId="date" [showTime]="true" [hourFormat]="'24'" formControlName="Date" [appendTo]="'body'" />
            </div>

            <div class="form-group">
                <label for="withoutgrouping">Amount</label>
                <p-inputNumber inputId="currency-tn" mode="currency" currency="TND" locale="fr-TN" formControlName="Amount"/>
            </div>

            <div class="flex justify-end gap-2 mt-4">
                <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                <p-button type="submit" label="Save" />
            </div>
        </form>
    </p-dialog>
</div>