<div class="main">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign up</h2>
                    <form [formGroup]="form" class="register-form" id="register-form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="FirstName"><fa-icon [icon]="faUser"></fa-icon></label>
                            <input type="text" id="FirstName" placeholder="Your FirstName" formControlName="first_Name"/>
                            
                            <div class="error-feedback" *ngIf="hasDisplayableError('first_Name')">
                                Please enter your First Name
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="LastName"><fa-icon [icon]="faUser"></fa-icon></label>
                            <input type="text" id="LastName" placeholder="Your LastName" formControlName="last_Name"/>
                            
                            <div class="error-feedback" *ngIf="hasDisplayableError('last_Name')">
                                Please enter your Last Name
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="email"><fa-icon [icon]="faEmail"></fa-icon></label>
                            <input type="email" name="email" id="email" placeholder="Your Email" formControlName="email"/>
                            <div class="error-feedback" *ngIf="hasDisplayableError('email')">
                                Please enter your email
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone"><fa-icon [icon]="faPhone"></fa-icon></label>
                            <input type="text" name="phone" id="phone" placeholder="Your Phone Number" formControlName="phoneNumber"/>
                            <div class="error-feedback" *ngIf="hasDisplayableError('phoneNumber')">
                                Please enter your phone
                            </div>
                        </div>
                        <div class="form-group">
                        
                            <label for="pass"><fa-icon [icon]="faLock"></fa-icon></label>
                            <input type="password" id="password" placeholder="Password" formControlName="password"/>
                            
                            <ng-container 
                                *ngIf="(form.get('password')?.touched || isSubmitted) && form.get('password')?.errors"
                                [ngSwitch]="form.get('password')?.errors | firstKey">
                                
                                <div class="error-feedback" *ngSwitchCase="'required'">
                                    Please enter your password.
                                </div>
                                <div class="error-feedback" *ngSwitchCase="'minlength'">
                                    At least 6 characters required.
                                </div>
                                <div class="error-feedback" *ngSwitchCase="'pattern'">
                                    One or more special character(s) required.
                                </div>
                            </ng-container>

                            
                        </div>
                        
                        <div class="form-group">
                            <label for="re-pass"><fa-icon [icon]="faLock"></fa-icon></label>
                            <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" formControlName="re_pass"/>
                            <div class="error-feedback" *ngIf="hasDisplayableError('re_pass') && form.get('re_pass')?.hasError('passwordMismatch')">
                                Password doesn't match
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group form-button">
                            <button type="submit" name="signup" id="signup" class="form-submit" value="Register"> Register</button>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="images/Register.png" alt="sing up image"></figure>
                    <a routerLink="/login" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
    </section>

</div>