<!-- Sign Up Start -->
<section class="sign-in-page">
    <div id="container-inside">
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
    </div>
    <div class="container p-0">
        <div class="row no-gutters height-self-center">
            <div class="col-sm-12 align-self-center bg-primary rounded">
                <div class="row m-0">
                    <div class="col-md-5 bg-white sign-in-page-data" style="z-index: 0;">
                        <div class="sign-in-from">
                            <h1 class="mb-0 text-center" style="color: black;">Sign Up</h1>
                            <p class="text-center text-dark" *ngIf="step === 1">Enter your personal details</p>
                            <p class="text-center text-dark" *ngIf="step === 2">Enter additional information (optional)
                            </p>

                            <form class="mt-4" [formGroup]="form" (ngSubmit)="step === 2 ? onSubmit() : nextStep()">
                                <!-- Step 1 Fields -->
                                <div *ngIf="step === 1">
                                    <!-- Profile Image -->
                                    <div class="form-group row mb-4">
                                        <div class="col-md-12 d-flex flex-column align-items-center">
                                            <label class="form-label mb-3">Profile Image</label>
                                            <div class="circle-upload-wrapper">
                                                <div class="round-dropzone" ngx-dropzone [accept]="'image/*'"
                                                    (change)="onSelect($event)">

                                                    <!-- Zone vide : affichage de l'icône et du texte -->
                                                    <ngx-dropzone-label *ngIf="!files.length && !imagePreview">
                                                        <div class="text-center">
                                                            <fa-icon [icon]="faCamera"
                                                                style="font-size: 2rem;"></fa-icon>
                                                            <h4>Click to upload</h4>
                                                            <p>or drag and drop</p>
                                                        </div>
                                                    </ngx-dropzone-label>

                                                    <!-- Nouvelle image sélectionnée -->
                                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                                        *ngFor="let f of files" [file]="f" [removable]="true"
                                                        (removed)="onRemove(f)">
                                                        <img class="round-preview-image" />
                                                    </ngx-dropzone-image-preview>

                                                    <!-- Image existante (déjà enregistrée) -->
                                                    <div *ngIf="!files.length && imagePreview" class="existing-image">
                                                        <img [src]="imagePreview" class="profile-image" />
                                                    </div>
                                                </div>

                                                <!-- Bouton supprimer -->
                                                <button type="button" class="remove-btn mt-2"
                                                    (click)="onRemoveExisting()" *ngIf="files.length > 0">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>



                                    <!-- First Name -->
                                    <div class="form-group">
                                        <label for="firstName">First Name</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <fa-icon [icon]="faUser" style="font-size: 1.3rem;"></fa-icon>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control mb-2" id="firstName"
                                                placeholder="Your First Name" formControlName="firstName" />
                                        </div>
                                        <div class="error-feedback" *ngIf="hasDisplayableError('firstName')">
                                            Please enter your First Name
                                        </div>
                                    </div>

                                    <!-- Last Name -->
                                    <div class="form-group">
                                        <label for="lastName">Last Name</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <fa-icon [icon]="faUser" style="font-size: 1.3rem;"></fa-icon>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control mb-2" id="lastName"
                                                placeholder="Your Last Name" formControlName="lastName" />
                                        </div>
                                        <div class="error-feedback" *ngIf="hasDisplayableError('lastName')">
                                            Please enter your Last Name
                                        </div>
                                    </div>

                                    <!-- Phone Number -->
                                    <div class="form-group">
                                        <label for="phoneNumber">Phone Number</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <fa-icon [icon]="faPhone" style="font-size: 1.3rem;"></fa-icon>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control mb-2" id="phoneNumber"
                                                placeholder="Your Phone number" formControlName="phoneNumber" />
                                        </div>
                                        <div class="error-feedback" *ngIf="hasDisplayableError('phoneNumber')">
                                            Please enter your phone number
                                        </div>
                                    </div>

                                    <!-- Email -->
                                    <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <fa-icon [icon]="faEmail" style="font-size: 1.3rem;"></fa-icon>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control mb-2" id="email"
                                                placeholder="Enter email" formControlName="email" />
                                        </div>
                                        <div class="error-feedback" *ngIf="hasDisplayableError('email')">
                                            Please enter your email
                                        </div>
                                    </div>

                                    <!-- Password -->
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <fa-icon [icon]="faLock" style="font-size: 1.3rem;"></fa-icon>
                                                </span>
                                            </div>
                                            <input type="password" class="form-control mb-2" id="password"
                                                placeholder="Enter password" formControlName="password" />
                                        </div>
                                        <ng-container
                                            *ngIf="(form.get('password')?.touched || isSubmitted) && form.get('password')?.errors"
                                            [ngSwitch]="form.get('password')?.errors | firstKey">
                                            <div class="error-feedback" *ngSwitchCase="'required'">
                                                Please enter your password.
                                            </div>
                                            <div class="error-feedback" *ngSwitchCase="'minlength'">
                                                At least 6 characters required.
                                            </div>
                                            <div class="error-feedback" *ngSwitchCase="'pattern'">
                                                One or more special character(s) required.
                                            </div>
                                        </ng-container>
                                    </div>

                                    <!-- Confirm Password -->
                                    <div class="form-group">
                                        <label for="re_pass">Confirm Password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <fa-icon [icon]="faLock" style="font-size: 1.3rem;"></fa-icon>
                                                </span>
                                            </div>
                                            <input type="password" class="form-control mb-2" id="re_pass"
                                                placeholder="Confirm your password" formControlName="re_pass" />
                                        </div>
                                        <div class="error-feedback"
                                            *ngIf="hasDisplayableError('re_pass') && form.get('re_pass')?.hasError('passwordMismatch')">
                                            Password doesn't match
                                        </div>
                                    </div>

                                    <!-- Next Button -->
                                    <div class="sign-info text-center">
                                        <button type="submit" class="btn btn-primary d-block w-100 mb-2">Next</button>
                                        <span class="text-dark d-inline-block line-height-2">Already Have an Account? <a
                                                routerLink="/login">Log In</a></span>
                                    </div>
                                </div>

                                <!-- Step 2 Fields -->
                                <div *ngIf="step === 2">
                                    <!-- Field X -->
                                    <div class="form-group">
                                        <label for="fieldX">Total Number Of Family Members</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="ri-group-3-fill" style="font-size: 1.3rem;"></i>
                                                </span>
                                            </div>
                                            <input type="number" class="form-control mb-2"
                                                id="TotalNumberOfFamilyMembers" placeholder="Enter family members "
                                                formControlName="totalNumberOfFamilyMembers" />
                                        </div>
                                    </div>

                                    <!-- Field Y -->
                                    <div class="form-group">
                                        <label for="fieldY">Total Number Of Family Members Employed</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="ri-briefcase-4-fill" style="font-size: 1.3rem;"></i>
                                                </span>
                                            </div>
                                            <input type="number" class="form-control mb-2" id="fieldY"
                                                placeholder="Total employed family members"
                                                formControlName="totalNumberOfFamilyMembersEmployed" />
                                        </div>
                                    </div>

                                    <!-- Field Z -->
                                    <div class="form-group">
                                        <label for="fieldZ">Number of Car</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="ri-roadster-fill" style="font-size: 1.3rem"></i>
                                                </span>
                                            </div>
                                            <input type="number" class="form-control mb-2" id="fieldY"
                                                placeholder="Total Number of Car" formControlName="totalNumberOfCars" />
                                        </div>

                                    </div>

                                    <!-- Field room -->
                                    <div class="form-group">
                                        <label for="fieldZ">Number of bedrooms</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="ri-home-4-line" style="font-size: 1.3rem"></i>
                                                </span>
                                            </div>
                                            <input type="number" class="form-control mb-2" id="fieldY"
                                                placeholder="Total Number of bedrooms"
                                                formControlName="totalNumberOfBedrooms" />
                                        </div>

                                    </div>


                                    <!-- Navigation Buttons -->
                                    <div class="sign-info text-center">
                                        <button type="button" class="btn btn-secondary d-block w-100 mb-2"
                                            (click)="previousStep()">Previous</button>
                                        <button type="submit" class="btn btn-primary d-block w-100 mb-2">Sign
                                            Up</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Right Image Section -->
                    <div class="col-md-7 text-center sign-in-page-image">
                        <div class="sign-in-detail text-white">
                            <a class="sign-in-logo mb-5" href="#"><img src="images/logo-full.png" class="img-fluid"
                                    alt="logo"></a>
                            <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false"
                                data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1"
                                data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
                                <div class="item">
                                    <img src="images/login/1.png" class="img-fluid mb-4" alt="logo">
                                    <h4 class="mb-1 text-white">Manage your orders</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sign Up End -->