<body [ngClass]="bodyClass">
   <p-toast Style="z-index: 9999;" />
   <div class="iq-top-navbar">
      <div class="iq-navbar-custom">
         <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="iq-menu-bt d-flex align-items-center">
               <div class="wrapper-menu open">
                  <div class="main-circle"><i class="ri-menu-line"></i></div>
                  <div class="hover-circle"><i class="ri-close-fill"></i></div>
               </div>
               <div class="iq-navbar-logo d-flex justify-content-between ml-3">
                  <a href="index.html" class="header-logo">
                     <img src="images/logo.png" class="img-fluid rounded" alt="">
                     <span>FinDash</span>
                  </a>
               </div>
            </div>
            <div class="iq-search-bar">
               <form action="#" class="searchbox">
                  <input type="text" class="text search-input" placeholder="Type here to search...">
                  <a class="search-link" href="#"><i class="ri-search-line"></i></a>
               </form>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
               <i class="ri-menu-3-line"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ms-auto navbar-list">
                  <li class="nav-item">
                     <a class="search-toggle iq-waves-effect language-title" href="#"><span class="ripple rippleEffect"
                           style="width: 98px; height: 98px; top: -15px; left: 56.2969px;"></span><img
                           src="images/small/flag-01.png" alt="img-flaf" class="img-fluid mr-1"
                           style="height: 16px; width: 16px;"> EN <i class="ri-arrow-down-s-line"></i></a>
                     <div class="iq-sub-dropdown">
                        <a class="iq-sub-card" href="#"><img src="images/small/flag-02.png" alt="img-flaf"
                              class="img-fluid mr-2">French</a>
                        <a class="iq-sub-card" href="#"><img src="images/small/flag-03.png" alt="img-flaf"
                              class="img-fluid mr-2">Spanish</a>
                        <a class="iq-sub-card" href="#"><img src="images/small/flag-04.png" alt="img-flaf"
                              class="img-fluid mr-2">Italian</a>
                        <a class="iq-sub-card" href="#"><img src="images/small/flag-05.png" alt="img-flaf"
                              class="img-fluid mr-2">German</a>
                        <a class="iq-sub-card" href="#"><img src="images/small/flag-06.png" alt="img-flaf"
                              class="img-fluid mr-2">Japanese</a>
                     </div>
                  </li>

                  <li class="nav-item nav-icon" [class.iq-show]="isShow">
                     <a class="search-toggle iq-waves-effect bg-primary rounded" [class.active]="isShow" (click)="toggleShow($event)">
                       <i class="ri-notification-line" style="color: white;"></i>
                       <span class="bg-danger dots" *ngIf="unreadCount > 0"></span>
                     </a>
                     <div class="iq-sub-dropdown">
                       <div class="iq-card shadow-none m-0">
                         <div class="iq-card-body p-0">
                           <div class="bg-primary p-3">
                             <h5 class="mb-0 text-white">All Notifications
                               <small class="badge badge-light float-right pt-1" style="color: black; margin-left: 45%;">{{unreadCount}}</small>
                             </h5>
                           </div>
                           <div *ngIf="loading" class="text-center p-3">
                             <i class="fa fa-spinner fa-spin"></i> Loading...
                           </div>
                           <div class="notification-container">
                             <div class="notification-page"
                                  [class.slide-in-next]="isChangingPage && direction === 'forward'"
                                  [class.slide-out-next]="isChangingPage && direction === 'forward'"
                                  [class.slide-in-prev]="isChangingPage && direction === 'backward'"
                                  [class.slide-out-prev]="isChangingPage && direction === 'backward'"
                                  [class.animating]="isChangingPage">
                               <div *ngIf="!loading" (click)="$event.stopPropagation()">
                                 <a href="javascript:void(0)" class="iq-sub-card" 
                                    [class.notification-unread]="!notification.isRead"
                                    [class.notification-read]="notification.isRead"
                                    *ngFor="let notification of getPaginatedNotifications()" 
                                    (click)="markAsRead(notification.id)">
                                   <div class="media d-flex align-items-center">
                                     <div class="flex-shrink-0">
                                       <img class="avatar-40 rounded" [src]="getCategoryImage(notification.categoryId)" [alt]="notification.categoryName">
                                     </div>
                                     <div class="media-body flex-grow-1 ms-4">
                                       <h6 class="mb-0" [class.font-weight-bold]="!notification.isRead">{{notification.message}}</h6>
                                       <small class="float-right font-size-12">{{notification.createdAt | date:'yyyy-MM-dd'}}</small>
                                       <p class="mb-0">{{notification.categoryName}}</p>
                                     </div>
                                     <div class="flex-shrink-0 ms-3">
                                       <!-- Delete Button -->
                                       <button class="delete-btn" (click)="deleteNotification($event, notification.id,notification.isRead)">
                                          <i class="pi pi-trash"></i>
                                      </button>
                                     </div>
                                   </div>
                                 </a>
                   
                                 <div *ngIf="notifications.length === 0" class="text-center p-3">
                                   No notifications
                                 </div>
                               </div>
                             </div>
                           </div>
                   
                           <!-- Pagination controls -->
                           <div class="d-flex justify-content-between p-2 border-top" *ngIf="notifications.length > notificationsPerPage" (click)="$event.stopPropagation()">
                             <button class="btn btn-sm btn-primary" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1, $event)">
                               Previous
                             </button>
                             <span class="mx-2 align-self-center">
                               Page {{currentPage}} of {{totalPages}}
                             </span>
                             <button class="btn btn-sm btn-primary" [disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1, $event)">
                               Next
                             </button>
                           </div>
                         </div>
                       </div>
                     </div>
                   </li>
                   
                  <li class="nav-item nav-icon dropdown" [class.iq-show]="isShowMessage">
                     <a class="search-toggle iq-waves-effect bg-primary rounded" [class.active]="isShowMessage"
                        (click)="toggleShowMessage($event)">
                        <i class="ri-mail-line"></i>
                        <span class="bg-danger count-mail"></span>
                     </a>
                     <div class="iq-sub-dropdown">
                        <div class="iq-card shadow-none m-0">
                           <div class="iq-card-body p-0 ">
                              <div class="bg-primary p-3">
                                 <h5 class="mb-0 text-white">All Messages<small
                                       class="badge  badge-light float-right pt-1">5</small></h5>
                              </div>
                              <a href="#" class="iq-sub-card">
                                 <div class="media d-flex align-items-center">
                                    <div class="">
                                       <img class="avatar-40 rounded" src="images/user/01.jpg" alt="">
                                    </div>
                                    <div class="media-body ml-3 flex-grow-1 ms-4">
                                       <h6 class="mb-0 ">Barry Emma Watson</h6>
                                       <small class="float-left font-size-12">13 Jun</small>
                                    </div>
                                 </div>
                              </a>
                              <a href="#" class="iq-sub-card">
                                 <div class="media d-flex align-items-center">
                                    <div class="">
                                       <img class="avatar-40 rounded" src="images/user/02.jpg" alt="">
                                    </div>
                                    <div class="media-body ml-3 flex-grow-1 ms-4">
                                       <h6 class="mb-0 ">Lorem Ipsum Watson</h6>
                                       <small class="float-left font-size-12">20 Apr</small>
                                    </div>
                                 </div>
                              </a>
                              <a href="#" class="iq-sub-card">
                                 <div class="media d-flex align-items-center">
                                    <div class="">
                                       <img class="avatar-40 rounded" src="images/user/03.jpg" alt="">
                                    </div>
                                    <div class="media-body ml-3 flex-grow-1 ms-4">
                                       <h6 class="mb-0 ">Why do we use it?</h6>
                                       <small class="float-left font-size-12">30 Jun</small>
                                    </div>
                                 </div>
                              </a>
                              <a href="#" class="iq-sub-card">
                                 <div class="media d-flex align-items-center">
                                    <div class="">
                                       <img class="avatar-40 rounded" src="images/user/04.jpg" alt="">
                                    </div>
                                    <div class="media-body ml-3 flex-grow-1 ms-4">
                                       <h6 class="mb-0 ">Variations Passages</h6>
                                       <small class="float-left font-size-12">12 Sep</small>
                                    </div>
                                 </div>
                              </a>
                              <a href="#" class="iq-sub-card">
                                 <div class="media align-items-center d-flex">
                                    <div class="">
                                       <img class="avatar-40 rounded" src="images/user/05.jpg" alt="">
                                    </div>
                                    <div class="media-body ml-3 flex-grow-1 ms-4">
                                       <h6 class="mb-0 ">Lorem Ipsum generators</h6>
                                       <small class="float-left font-size-12">5 Dec</small>
                                    </div>
                                 </div>
                              </a>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
            <ul class="navbar-list">
               <li [ngClass]="{'iq-show': isDropdownOpen}" class="line-height">
                  <a (click)="toggleDropdown()" class="search-toggle iq-waves-effect d-flex align-items-center">
                     <img [src]="avatar ? avatar : 'images/user/1.png'" alt="avatar" class="mr-2" style="border-radius: 50%;" />

                     <div class="caption">
                        <p class="mb-0 ms-2">Welcome,</p>
                        <h6 class="mb-0 ms-2 line-height">{{firstName}} {{lastName}}</h6>
                     </div>
                  </a>
                  <div class="iq-sub-dropdown iq-user-dropdown">
                     <div class="iq-card shadow-none m-0">
                        <div class="iq-card-body p-0 ">
                           <div class="bg-primary p-3">
                              <h5 class="mb-0 text-white line-height">Hello {{firstName}} {{lastName}}</h5>
                              <span class="text-white font-size-12">Available</span>
                           </div>
                           <a href="profile.html" class="iq-sub-card iq-bg-primary-hover">
                              <div class="media d-flex align-items-center">
                                 <div class="rounded iq-card-icon iq-bg-primary">
                                    <i class="ri-file-user-line"></i>
                                 </div>
                                 <div class="media-body ml-3 flex-grow-1 ms-4">
                                    <h6 class="mb-0 ">My Profile</h6>
                                    <p class="mb-0 font-size-12">View personal profile details.</p>
                                 </div>
                              </div>
                           </a>
                           <a [routerLink]="['/editProfile']" class="iq-sub-card iq-bg-primary-hover">
                              <div class="media d-flex align-items-center">
                                 <div class="rounded iq-card-icon iq-bg-primary">
                                    <i class="ri-profile-line"></i>
                                 </div>
                                 <div class="media-body ml-3 flex-grow-1 ms-4">
                                    <h6 class="mb-0 ">Edit Profile</h6>
                                    <p class="mb-0 font-size-12">Modify your personal details.</p>
                                 </div>
                              </div>
                           </a>
                           <a href="account-setting.html" class="iq-sub-card iq-bg-primary-hover">
                              <div class="media d-flex align-items-center">
                                 <div class="rounded iq-card-icon iq-bg-primary">
                                    <i class="ri-account-box-line"></i>
                                 </div>
                                 <div class="media-body ml-3 flex-grow-1 ms-4">
                                    <h6 class="mb-0 ">Account settings</h6>
                                    <p class="mb-0 font-size-12">Manage your account parameters.</p>
                                 </div>
                              </div>
                           </a>
                           <a href="privacy-setting.html" class="iq-sub-card iq-bg-primary-hover">
                              <div class="media d-flex align-items-center">
                                 <div class="rounded iq-card-icon iq-bg-primary">
                                    <i class="ri-lock-line"></i>
                                 </div>
                                 <div class="media-body ml-3 flex-grow-1 ms-4">
                                    <h6 class="mb-0 ">Privacy Settings</h6>
                                    <p class="mb-0 font-size-12">Control your privacy parameters.</p>
                                 </div>
                              </div>
                           </a>
                           <div class="d-inline-block w-100 text-center p-3">
                              <button class="bg-primary iq-sign-btn" (click)="onLogout()" role="button">Sign out<i
                                    class="ri-login-box-line ml-2"></i></button>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </nav>
      </div>
   </div>
   <!-- TOP Nav Bar END -->
</body>