<section class="sign-in-page">
    <div id="container-inside">
         <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
    </div>
      <div class="container p-0">
          <div class="row no-gutters height-self-center">
            <div class="col-sm-12 align-self-center bg-primary rounded" style="z-index: 0;">
              <div class="row m-0">
                <div class="col-md-5 bg-white sign-in-page-data">
                    <div class="sign-in-from">
                        <h1 class="mb-0" style="color:black">Reset Password</h1>
                        <p class="text-dark">Enter your email address and we'll send you an email with instructions to reset your password.</p>
                        <form class="mt-4" [formGroup]="form" (ngSubmit)="onSubmit()">

                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter email" formControlName="email">
                                <div class="error-feedback" *ngIf="hasDisplayableError('email')">
                                    Please enter your email adresse
                                </div>
                            </div>

                            <div class="d-inline-block w-100">

                                <button type="submit" class="btn btn-primary float-right">Reset Password</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-md-7 text-center sign-in-page-image">
                    <div class="sign-in-detail text-white">
                        <a class="sign-in-logo mb-5" href="#"><img src="images/logo-full.png" class="img-fluid" alt="logo"></a>
                        <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
                            <div class="item">
                                <img src="images/login/1.png" class="img-fluid mb-4" alt="logo">
                                <h4 class="mb-1 text-white">Manage your expenses</h4>
                                <p>Smarter spending starts here.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- Sign in END -->

