/* Container principal */
#container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%; /* Assurer que le conteneur prend toute la largeur */
}

/* Container pour les boutons */
.buttons-container {
  margin-left: auto; /* Pousse le bouton complètement à droite */
  display: flex;
  gap: 10px; /* Espacement entre les boutons */
}
