<div class="wrapper">
   <app-side-navbar (clicked)="recevoirMessage($event)" style="z-index: 20;"></app-side-navbar>

   <app-top-nav-bar [bodyClass]="{'sidebar-main': changeMenu}" />
   <p-confirmDialog 
    [style]="{width: '450px'}" 
    [baseZIndex]="10000" 
    rejectButtonStyleClass="p-button-text">
   </p-confirmDialog>
   <div id="content-page" class="content-page">
      <div class="container-fluid">
         <div class="row">



            <div class="col-lg-12">
               <p-toast Style="z-index: 9999;" />

               <div >

                  <p-table [value]="budgetPeriods" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }"
                     [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)"
                     (onRowCollapse)="onRowCollapse($event)">
                     <ng-template pTemplate="caption">
                        <div class="flex flex-wrap justify-content-between gap-2">
                           <!-- Aligné à gauche -->
                           <div style="flex-grow: 1;">
                              <app-add-budget></app-add-budget>
                           </div>
                        
                           <!-- Aligné à droite -->
                           <div class="flex justify-content-end">
                              <p-button label="Expand All" icon="pi pi-plus" text (onClick)="expandAll()" />
                              <p-button label="Collapse All" icon="pi pi-minus" text (onClick)="collapseAll()" />
                           </div>
                        </div>
                        
                     </ng-template>
                     <ng-template pTemplate="header">
                        <tr>
                           <th style="width: 5rem"></th>
                           <th pSortableColumn="Period">Period <p-sortIcon field="period" /></th>
                           <th pSortableColumn="income">income <p-sortIcon field="income" /></th>
                           <th pSortableColumn="savings">savings <p-sortIcon field="savings" /></th>
                           <th pSortableColumn="startDate">startDate <p-sortIcon field="startDate" /></th>
                           <th pSortableColumn="endDate">endDate <p-sortIcon field="endDate" /></th>
                           <th>Actions</th>
                        </tr>
                     </ng-template>
                     <ng-template pTemplate="body" let-budgetPeriod let-expanded="expanded">
                        <tr>
                           <td>
                              <p-button type="button" pRipple [pRowToggler]="budgetPeriod" [text]="true"
                                 [rounded]="true" [plain]="true"
                                 [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                           </td>
                           <td>{{ budgetPeriod.period === 0 ? 'weakly' : 'monthly' }}</td>

                           <td>{{ budgetPeriod.income }}</td>
                           <td>{{ budgetPeriod.savings }}</td>
                           <td>{{ budgetPeriod.startDate | date:'yyyy-MM-dd' }}</td>
                           <td>{{ budgetPeriod.endDate | date:'yyyy-MM-dd' }}</td>
                           <td>
                              <div class="d-flex gap-2">
                                  <!-- Edit Button -->
                                  <app-update-budget [budgetPeriod]="budgetPeriod"></app-update-budget>
                                  
                                  <!-- Delete Button -->
                                  <button class="delete-btn" (click)="deleteBudgetPeriod($event,budgetPeriod.id)">
                                      <i class="pi pi-trash"></i>
                                  </button>
                              </div>
                          </td>

                        </tr>
                     </ng-template>
                     <ng-template pTemplate="rowexpansion" let-budgetPeriod>
                        <tr>
                           <td colspan="8">
                              <div class="p-3">
                                 <p-table [value]="budgetPeriod.budgets" dataKey="id">
                                    <ng-template pTemplate="header">
                        <tr>
                           <th pSortableColumn="id">category<p-sortIcon field="price" /></th>
                           <th pSortableColumn="limitValue">limitValue <p-sortIcon field="customer" /></th>
                           <th pSortableColumn="alertValue">alertValue <p-sortIcon field="date" /></th>

                        </tr>
                     </ng-template>
                     <ng-template pTemplate="body" let-budget>
                        <tr>
                           <td>{{ budget.categoryName }}</td>
                           <td>{{ budget.limitValue }}</td>
                           <td>{{ budget.alertValue }}</td>

                        </tr>
                     </ng-template>
                     <ng-template pTemplate="emptymessage">
                        <tr>
                           <td colspan="4">There are no budget for this budget Period yet.</td>
                        </tr>
                     </ng-template>
                  </p-table>
               </div>
               </td>
               </tr>
               </ng-template>
               </p-table>
            </div>
         </div>
      </div>
   </div>
</div>
</div>

<!-- <p-toast Style="z-index: 50;"/>
                <p-confirmdialog Style="z-index: 50;"/>
                <div class="card">
                   <p-table #dt1 [value]="budgets" dataKey="id" [rows]="8" [rowsPerPageOptions]="[8, 25, 50]"
                      [loading]="loading" [paginator]="true" [globalFilterFields]="['limitValue', 'categoryName','alertValue']">
                      <ng-template #caption>
                         <div class="flex" style="display: flex; align-items: center; gap: 10px;" id="container">
                           



                            <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
                            
                            <p-iconfield iconPosition="left" class="ml-auto">
                              <p-inputicon>
                                <i class="pi pi-search"></i>
                              </p-inputicon>
                              <input pInputText type="text" [(ngModel)]="searchValue" (input)="filterTable($event)" placeholder="Search keyword" />
                            </p-iconfield>

                            <div class="buttons-container">
                              <app-add-budget></app-add-budget>
                              
                            </div>
                          </div>
                          
                      </ng-template>
                      <ng-template #header>
                         <tr>
                            
                            <th style="min-width:15rem">
                               <div class="flex items-center">
                                  Category
                                  <p-columnFilter type="text" field="categoryName" display="menu" />
                               </div>
                            </th>
 
                            <th style="min-width:10rem">
                               <div class="flex items-center">
                                  limit Value
                                  <p-columnFilter type="numeric" field="limitValue" display="menu" currency="TND" />
                               </div>
                            </th>

                            <th style="min-width:10rem">
                                <div class="flex items-center">
                                   alert Value
                                   <p-columnFilter type="numeric" field="alertValue" display="menu" currency="TND" />
                                </div>
                             </th>
                             <th style="min-width:10rem">
                              <div class="flex items-center">
                                 Start Date
                                 <p-columnFilter type="date" field="startDate" display="menu" />
                              </div>
                           </th>

                           <th style="min-width:10rem">
                              <div class="flex items-center">
                                End Date
                                 <p-columnFilter type="date" field="endDate" display="menu" />
                              </div>
                           </th>
 
                            <th style="width: 3rem">
                               Action
                            </th>
                         </tr>
                      </ng-template>
                      
                      <ng-template #body let-budget>
                         <tr>
                            
 
                            <td>
                               {{ getCategoryName(budget.category) }}
                            </td>
 
 
                            <td>
                                {{budget.limitValue}}
                            </td>
 
                            <td>
                                {{budget.alertValue}}
                            </td>

                            <td>
                              {{budget.startDate}}
                          </td>

                          <td>
                              {{budget.endDate}}
                          </td>
 
                            
                            <td>
                               <div class="d-flex gap-2" >
                                  <app-update-budget [budget]="budget"></app-update-budget>
 
 
                                  
 
                                  <p-button (click)="delete($event,budget.id)" severity="danger" [outlined]="true">
                                     <i class="ri-delete-bin-6-line"></i>
                                  </p-button>
 
 
                               </div>
                            </td>
 
                         </tr>
                      </ng-template>
                      <ng-template #emptymessage>
                         <tr>
                            <td colspan="5">No budgets found.</td>
                         </tr>
                      </ng-template>
                   </p-table> 
                </div>
             </div>
 
 
          </div>-->