<section class="sign-in-page">
  <div id="container-inside">
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
  </div>
  <div class="container p-0">
    <div class="row no-gutters height-self-center">
      <div style="z-index: 0;" class="col-sm-12 align-self-center bg-primary rounded">
        <div class="row m-0">
          <div class="col-md-5 bg-white sign-in-page-data">
            <div class="sign-in-from">
              <h1 style="color: black;" class="mb-0 text-center">Sign in</h1>
              <p class="text-center text-dark mt-5 mb-5">Enter your email address and password</p>
              <form [formGroup]="form" id="login-form" (ngSubmit)="onSubmit()" class="mt-4">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <fa-icon [icon]="faEmail" style="font-size: 1.3rem;"></fa-icon>
                      </span>
                    </div>
                    <input type="text" class="form-control mb-2" id="email" name="email" placeholder="Your Email"
                      formControlName="email" />
                  </div>
                  <div style="color: red;" class="error-feedback" *ngIf="hasDisplayableError('email')">
                    Please enter your email adresse
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <fa-icon [icon]="faLock" style="font-size: 1.4rem;"></fa-icon>
                      </span>
                    </div>
                    <input type="password" class="form-control mb-0" name="your_pass" id="your_pass"
                      placeholder="Password" formControlName="password" />
                  </div>
                  <div style="color: red;" class="error-feedback" *ngIf="hasDisplayableError('password')">
                    Please enter your password
                  </div>

                </div>
                <div class="d-flex justify-content-end">
                  <a [routerLink]="['/recoverPassword']" class="mt-3">Forgot password?</a>
                </div>
                <div class="sign-info text-center">
                  <button type="submit" class="btn btn-primary d-block w-100 mb-2" value="Log in">Sign in</button>
                  <span class="text-dark dark-color d-inline-block line-height-2">Don't have an account? <a
                      [routerLink]="['/register']">Sign up</a></span>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-7 text-center sign-in-page-image">
            <div class="sign-in-detail text-white">
              <a class="sign-in-logo mb-5" href="#"><img src="images/logo-full.png" class="img-fluid" alt="logo"></a>
              <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true"
                data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1"
                data-margin="0">
                <div class="item">
                  <img src="images/login/1.png" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">Manage your expenses</h4>
                  <p>Smarter spending starts here.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>